 
body{
    box-sizing: border-box;
} 

/* footer */
footer{
    text-align: center;
}

footer p:first-child{
    text-align: center;
    font-weight: bold;
    color: darkcyan;
    padding: 0 0.5rem;
}


input:valid{
    border-color:green; 
  }
  
  input:invalid{
      border-color: pink;
  }

